:root {
  --ion-color-primary: #f7bd36;
  --ion-color-primary-contrast: #ffffff;
  --ion-background-color: #080b08;
  --ion-text-color: #f8efd2;
  --ion-font-family: 'Nunito', 'Noto Sans', 'Trebuchet MS', Arial, Helvetica, sans-serif;
}
