<ion-header>
  <ion-toolbar>
    <ion-title>3 vs 3 Battle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" (click)="startBattle()" *ngIf="!battleId()">Find PvP</ion-button>

  <section class="arena" *ngIf="realtime.state() as state">
    <div class="team allies">
      <button class="unit" *ngFor="let unit of state.leftTeam" (click)="selectAlly(unit)" [disabled]="!unit.isAlive">
        <img [src]="'/assets/crops/' + unit.cropCode + '.webp'" [alt]="unit.cropCode">
        <strong>{{ unit.cropCode }}</strong>
        <progress [value]="unit.hp" [max]="unit.maxHp"></progress>
        <ion-button size="small" *ngIf="unit.abilityCharge >= 100" (click)="useAbility(unit)">Super</ion-button>
      </button>
    </div>

    <div class="team enemies">
      <button class="unit" *ngFor="let unit of state.rightTeam" (click)="targetEnemy(unit)" [disabled]="!unit.isAlive">
        <img [src]="'/assets/crops/' + unit.cropCode + '.webp'" [alt]="unit.cropCode">
        <strong>{{ unit.cropCode }}</strong>
        <progress [value]="unit.hp" [max]="unit.maxHp"></progress>
      </button>
    </div>
  </section>
</ion-content>
